In [2]:
import pandas as pd
import numpy as np

In [3]:
base7_df = pd.read_excel('bs7.xlsx')

display(base7_df)

,Nome da Origem,Tipo Titulo,Vencimento do Titulo,Data Resgate,PU,Quantidade,Valor
0,B7.txt,Tesouro Selic,2005-02-16,2005-02-16,2205.900143,8632.40,1.904221e+07
1,B7.txt,Tesouro IGPM+ com Juros Semestrais,2005-12-01,2005-12-01,1823.358458,40179.80,7.326218e+07
2,B7.txt,Tesouro Prefixado,2005-10-01,2005-10-03,1000.000000,57148.40,5.714840e+07
3,B7.txt,Tesouro IGPM+ com Juros Semestrais,2005-07-01,2005-07-01,1832.980489,1809.00,3.315862e+06
4,B7.txt,Tesouro Prefixado,2005-07-01,2005-07-01,1000.000000,40151.40,4.015140e+07
...,...,...,...,...,...,...,...
64,B7.txt,Tesouro Prefixado,2017-01-01,2017-01-02,1000.000000,1235990.48,1.235990e+09
65,B7.txt,Tesouro IGPM+ com Juros Semestrais,2017-07-01,2017-07-03,3528.852485,5698.66,2.010973e+07
66,B7.txt,Tesouro Prefixado,2018-01-01,2018-01-02,1000.000000,1927482.65,1.927483e+09
67,B7.txt,Tesouro Prefixado,2019-01-01,2019-01-02,1000.000000,976836.79,9.768368e+08
68,B7.txt,Tesouro Prefixado,2005-01-04,2005-01-04,1000.000000,24714.00,2.471400e+07

In [4]:
#Quantidade de linhas
totalLinhas =  len(base7_df.index)
print(totalLinhas)

69

In [48]:
totalNull = base7_df['Tipo Titulo'].isnull().sum()
totalNull

0

In [6]:
#Verificado os numeros distintos na colunas Tipo Titulo
coluna_tipoTitulo = len(base7_df["Tipo Titulo"].value_counts())
coluna_tipoTitulo

6

In [8]:
#Verificado os numeros distintos na coluna Vencimento do Titulo
coluna_vencTitulo = len(base7_df["Vencimento do Titulo"].value_counts())
coluna_vencTitulo

58

In [9]:
#Verificado os numeros distintos na coluna Data Resgate
coluna_dtResgate = len(base7_df["Data Resgate"].value_counts())
coluna_dtResgate

58

In [10]:
#Verificado os numeros distintos na coluna PU
coluna_PU = len(base7_df["PU"].value_counts())
coluna_PU

29

In [12]:
#Verificado os numeros distintos na coluna Quantidade
coluna_quantidade = len(base7_df["Quantidade"].value_counts())
coluna_quantidade

69

In [13]:
#Verificado os numeros distintos na coluna Valor
coluna_valor = len(base7_df["Valor"].value_counts())
coluna_valor

69

In [66]:
#Calculando Uniqueness
#Tipo Titulo

porcnt_tipoTitulo = coluna_tipoTitulo/totalLinhas
porcnt_tipoTitulo = porcnt_tipoTitulo / 100
porcnt_tipoTitulo

0.0008695652173913043

In [65]:
#Calculando Uniqueness
#VecimentoTitulo

porcnt_vencTitulo = coluna_vencTitulo/totalLinhas
porcnt_vencTitulo =  porcnt_vencTitulo / 100
porcnt_vencTitulo

0.008405797101449276

In [64]:
#Calculando Uniqueness
#Data Resgate

porcnt_dtResgate = coluna_dtResgate/totalLinhas
porcnt_dtResgate = porcnt_dtResgate / 100
porcnt_dtResgate

0.008405797101449276

In [62]:
#Calculando Uniqueness
#PU

porcnt_PU = coluna_PU/totalLinhas
porcnt_PU = porcnt_PU / 100
porcnt_PU

0.004202898550724638

In [63]:
#Calculando Uniqueness
#Quantidade

porcnt_quantidade = coluna_quantidade/totalLinhas
porcnt_quantidade = porcnt_quantidade / 100
porcnt_quantidade

0.01

In [56]:
#Calculando Uniqueness
#Valor

porcnt_valor = coluna_valor/totalLinhas
porcnt_valor = porcnt_valor * 100
porcnt_valor

100.0

In [24]:
#Calculando NULLs

numerosNullos = base7_df["Tipo Titulo"].isnull().sum()
numerosNullos

0

In [27]:
#verificando o minimo
#Tipo Titulo
min_TipoTitulo = base7_df["Tipo Titulo"].min()
min_TipoTitulo

'Tesouro IGPM+ com Juros Semestrais'

In [29]:
#verificando o minimo
#Vencimento do Titulo
min_vencTitulo = base7_df["Vencimento do Titulo"].min()
min_vencTitulo

Timestamp('2005-01-04 00:00:00')

In [30]:
#verificando o minimo
#Vencimento do Titulo
min_dtResgate = base7_df["Data Resgate"].min()
min_dtResgate

Timestamp('2005-01-04 00:00:00')

In [31]:
#verificando o minimo
#PU
min_PU = base7_df["PU"].min()
min_PU

1000.0

In [32]:
#verificando o minimo
#quantidade
min_quantidade = base7_df["Quantidade"].min()
min_quantidade

106.2

In [33]:
#verificando o minimo
#valor
min_valor = base7_df["Valor"].min()
min_valor

200410.48

In [37]:
#verificando o maximo
#Tipo Titulo
max_TipoTitulo = base7_df["Tipo Titulo"].max()
max_TipoTitulo

'Tesouro Selic'

In [38]:
#verificando o maximo
#Vencimento do titulo
max_vencTitulo = base7_df["Vencimento do Titulo"].max()
max_vencTitulo

Timestamp('2019-01-01 00:00:00')

In [39]:
#verificando o maximo
#Vencimento do titulo
max_dtResgate = base7_df["Data Resgate"].max()
max_dtResgate

Timestamp('2019-01-02 00:00:00')

In [40]:
#verificando o maximo
#PU
max_PU = base7_df["PU"].max()
max_PU

8627.689303

In [41]:
#verificando o maximo
#Quantidade
max_quantidade = base7_df["Quantidade"].max()
max_quantidade

1927482.65

In [42]:
#verificando o maximo
#Valor
max_valor = base7_df["Valor"].max()
max_valor

2059408998.0

In [108]:
#Soma
#

tipoTitulo_sum = base7_df["Tipo Titulo"].sum()
tipoTitulo_sum

'Tesouro SelicTesouro IGPM+ com Juros SemestraisTesouro PrefixadoTesouro IGPM+ com Juros SemestraisTesouro PrefixadoTesouro PrefixadoTesouro IPCA+ com Juros SemestraisTesouro PrefixadoTesouro PrefixadoTesouro SelicTesouro PrefixadoTesouro PrefixadoTesouro IPCA+ com Juros SemestraisTesouro IGPM+ com Juros SemestraisTesouro PrefixadoTesouro PrefixadoTesouro SelicTesouro PrefixadoTesouro Prefixado com Juros SemestraisTesouro PrefixadoTesouro PrefixadoTesouro IPCA+ com Juros SemestraisTesouro PrefixadoTesouro PrefixadoTesouro PrefixadoTesouro IGPM+ com Juros SemestraisTesouro SelicTesouro PrefixadoTesouro PrefixadoTesouro IPCA+ com Juros SemestraisTesouro SelicTesouro PrefixadoTesouro SelicTesouro Prefixado com Juros SemestraisTesouro PrefixadoTesouro PrefixadoTesouro IPCA+ com Juros SemestraisTesouro SelicTesouro IGPM+ com Juros SemestraisTesouro PrefixadoTesouro Prefixado com Juros SemestraisTesouro Prefixado com Juros SemestraisTesouro PrefixadoTesouro IPCA+ com Juros SemestraisTesouro SelicTesouro Prefixado com Juros SemestraisTesouro PrefixadoTesouro PrefixadoTesouro IPCA+ com Juros SemestraisTesouro SelicTesouro PrefixadoTesouro Prefixado com Juros SemestraisTesouro IPCA+ com Juros SemestraisTesouro Prefixado com Juros SemestraisTesouro PrefixadoTesouro SelicTesouro IPCA+Tesouro IPCA+ com Juros SemestraisTesouro SelicTesouro PrefixadoTesouro PrefixadoTesouro IPCA+ com Juros SemestraisTesouro SelicTesouro Prefixado com Juros SemestraisTesouro PrefixadoTesouro IGPM+ com Juros SemestraisTesouro PrefixadoTesouro PrefixadoTesouro Prefixado'

In [122]:
#Soma
#PU

pu_sum = base7_df["PU"].sum()
pu_sum

132923.15459

In [112]:
#Soma
#Quantidade

quantidade_sum = base7_df["Quantidade"].sum()
quantidade_sum

11251085.8

In [113]:
#Soma
#Valor

valor_sum = base7_df["Valor"].sum()
valor_sum

15779372442.58

In [130]:
#Criando o DataFrame 

profile = pd.DataFrame([['Tipo Titulo', totalLinhas, porcnt_tipoTitulo, coluna_tipoTitulo, totalNull,min_TipoTitulo, max_TipoTitulo ]]
                      ,columns=['NomeVar', 'Row Count', 'Uniqueness','Unique count', 'Qtd Nullos','Minimum','Maximum'])

display(profile)

,NomeVar,Row Count,Uniqueness,Unique count,Qtd Nullos,Minimum,Maximum
0,Tipo Titulo,69,0.00087,6,0,Tesouro IGPM+ com Juros Semestrais,Tesouro Selic

In [131]:
 #Criando o DataFrame 

profile2 = pd.DataFrame([['Vencimento do Titulo', totalLinhas, porcnt_vencTitulo, coluna_vencTitulo, totalNull, min_vencTitulo,max_vencTitulo ]]
                      ,columns=['NomeVar', 'Row Count', 'Uniqueness','Unique count', 'Qtd Nullos','Minimum','Maximum'])

display(profile2)

,NomeVar,Row Count,Uniqueness,Unique count,Qtd Nullos,Minimum,Maximum
0,Vencimento do Titulo,69,0.008406,58,0,2005-01-04,2019-01-01

In [132]:
profile = profile.append(profile2)
display(profile)

,NomeVar,Row Count,Uniqueness,Unique count,Qtd Nullos,Minimum,Maximum
0,Tipo Titulo,69,0.000870,6,0,Tesouro IGPM+ com Juros Semestrais,Tesouro Selic
0,Vencimento do Titulo,69,0.008406,58,0,2005-01-04 00:00:00,2019-01-01 00:00:00

In [133]:
profile3 = pd.DataFrame([['Data Resgate', totalLinhas, porcnt_dtResgate, coluna_dtResgate, totalNull, min_dtResgate,max_dtResgate ]]
                      ,columns=['NomeVar', 'Row Count', 'Uniqueness','Unique count', 'Qtd Nullos','Minimum','Maximum'])

display(profile3)

,NomeVar,Row Count,Uniqueness,Unique count,Qtd Nullos,Minimum,Maximum
0,Data Resgate,69,0.008406,58,0,2005-01-04,2019-01-02

In [118]:
profile = profile.append(profile3)
display(profile)

,NomeVar,Row Count,Uniqueness,Unique count,Qtd Nullos,Minimum,Maximum
0,Tipo Titulo,69,0.000870,6,0,Tesouro IGPM+ com Juros Semestrais,Tesouro Selic
0,Vencimento do Titulo,69,0.008406,58,0,2005-01-04 00:00:00,2019-01-01 00:00:00
0,Data Resgate,69,0.008406,58,0,2005-01-04 00:00:00,2019-01-02 00:00:00

In [134]:
profile4 = pd.DataFrame([['PU', totalLinhas, porcnt_PU, coluna_PU, totalNull, min_PU,max_PU, pu_sum ]]
                      ,columns=['NomeVar', 'Row Count', 'Uniqueness','Unique count', 'Qtd Nullos','Minimum','Maximum', 'Sum'])

display(profile4)

,NomeVar,Row Count,Uniqueness,Unique count,Qtd Nullos,Minimum,Maximum,Sum
0,PU,69,0.004203,29,0,1000.0,8627.689303,132923.15459

In [135]:
profile = profile.append(profile4)
display(profile)

,NomeVar,Row Count,Uniqueness,Unique count,Qtd Nullos,Minimum,Maximum,Sum
0,Tipo Titulo,69,0.000870,6,0,Tesouro IGPM+ com Juros Semestrais,Tesouro Selic,NaN
0,Vencimento do Titulo,69,0.008406,58,0,2005-01-04 00:00:00,2019-01-01 00:00:00,NaN
0,PU,69,0.004203,29,0,1000.0,8627.689303,132923.15459

In [125]:
profile5 = pd.DataFrame([['Quantidade', totalLinhas, porcnt_quantidade, coluna_quantidade, totalNull, min_quantidade,max_quantidade, quantidade_sum ]]
                      ,columns=['NomeVar', 'Row Count', 'Uniqueness','Unique count', 'Qtd Nullos','Minimum','Maximum', 'Sum'])

display(profile5)

,NomeVar,Row Count,Uniqueness,Unique count,Qtd Nullos,Minimum,Maximum,Sum
0,Quantidade,69,0.01,69,0,106.2,1927482.65,11251085.8

In [136]:
profile = profile.append(profile5)
display(profile)

,NomeVar,Row Count,Uniqueness,Unique count,Qtd Nullos,Minimum,Maximum,Sum
0,Tipo Titulo,69,0.000870,6,0,Tesouro IGPM+ com Juros Semestrais,Tesouro Selic,NaN
0,Vencimento do Titulo,69,0.008406,58,0,2005-01-04 00:00:00,2019-01-01 00:00:00,NaN
0,PU,69,0.004203,29,0,1000.0,8627.689303,1.329232e+05
0,Quantidade,69,0.010000,69,0,106.2,1927482.65,1.125109e+07

In [137]:
profile6 = pd.DataFrame([['Valor', totalLinhas, porcnt_valor, coluna_valor, totalNull, min_valor,max_valor, valor_sum]]
                      ,columns=['NomeVar', 'Row Count', 'Uniqueness','Unique count', 'Qtd Nullos','Minimum','Maximum', 'Sum'])

display(profile6)

,NomeVar,Row Count,Uniqueness,Unique count,Qtd Nullos,Minimum,Maximum,Sum
0,Valor,69,100.0,69,0,200410.48,2.059409e+09,1.577937e+10

In [138]:
profile = profile.append(profile6)
display(profile)

,NomeVar,Row Count,Uniqueness,Unique count,Qtd Nullos,Minimum,Maximum,Sum
0,Tipo Titulo,69,0.000870,6,0,Tesouro IGPM+ com Juros Semestrais,Tesouro Selic,NaN
0,Vencimento do Titulo,69,0.008406,58,0,2005-01-04 00:00:00,2019-01-01 00:00:00,NaN
0,PU,69,0.004203,29,0,1000.0,8627.689303,1.329232e+05
0,Quantidade,69,0.010000,69,0,106.2,1927482.65,1.125109e+07
0,Valor,69,100.000000,69,0,200410.48,2059408998.0,1.577937e+10

In [139]:
#Salva o DataFrame em Excel

profile.to_excel('profiles.xls', index = False)

<ipython-input-139-57ebc35a0c63>:3: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  profile.to_excel('profiles.xls', index = False)

In [25]:
print(base7_df.nunique())

Nome da Origem           1
Tipo Titulo              6
Vencimento do Titulo    58
Data Resgate            58
PU                      29
Quantidade              69
Valor                   69
dtype: int64

In [140]:
profile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 0
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NomeVar       5 non-null      object
 1   Row Count     5 non-null      int64
 2   Uniqueness    5 non-null      float64
 3   Unique count  5 non-null      int64
 4   Qtd Nullos    5 non-null      int64
 5   Minimum       5 non-null      object
 6   Maximum       5 non-null      object
 7   Sum           3 non-null      float64
dtypes: float64(2), int64(3), object(3)
memory usage: 360.0+ bytes

In [106]:
profile.describe()

       Row Count  Uniqueness  Unique count  Qtd Nullos
count        6.0    6.000000      6.000000         6.0
mean        69.0   16.671981     48.166667         0.0
std          0.0   40.822226     25.325218         0.0
min         69.0    0.000870      6.000000         0.0
25%         69.0    0.005254     36.250000         0.0
50%         69.0    0.008406     58.000000         0.0
75%         69.0    0.009601     66.250000         0.0
max         69.0  100.000000     69.000000         0.0